APP_NAME=Laravel
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=laravel
DB_USERNAME=root
DB_PASSWORD=

# Productos
DB_CONNECTION_CATALOGO=mysql
DB_HOST_CATALOGO=127.0.0.1
DB_PORT_CATALOGO=3306
DB_DATABASE_CATALOGO=laravel
DB_USERNAME_CATALOGO=root
DB_PASSWORD_CATALOGO=

BROADCAST_DRIVER=log
CACHE_DRIVER=file
FILESYSTEM_DRIVER=local
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

MEMCACHED_HOST=127.0.0.1

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=f81e4cc0e4d04a
MAIL_PASSWORD=f81e4cc0e4d04a
MAIL_ENCRYPTION=tls

MAIL_MAILER_PL=smtp_pl
MAIL_HOST_PL=
MAIL_PORT_PL=
MAIL_USERNAME_PL=
MAIL_PASSWORD_PL=
MAIL_ENCRYPTION_PL=SSL

MAIL_MAILER_BH=smtp_bh
MAIL_HOST_BH=
MAIL_PORT_BH=
MAIL_USERNAME_BH=
MAIL_PASSWORD_BH=
MAIL_ENCRYPTION_BH=tls

MAIL_MAILER_BH_USA=smtp_bh_usa
MAIL_HOST_BH_USA=
MAIL_PORT_BH_USA=
MAIL_USERNAME_BH_USA=
MAIL_PASSWORD_BH_USA=
MAIL_ENCRYPTION_BH_USA=tls

MAIL_MAILER_BH_PZ=smtp_pz
MAIL_HOST_BH_PZ=smtp.mailtrap.io
MAIL_PORT_BH_PZ=2525
MAIL_USERNAME_BH_PZ=
MAIL_PASSWORD_BH_PZ=
MAIL_ENCRYPTION_BH_PZ=tls

MAIL_MAILER_BH_LAT=smtp_bh_lat
MAIL_HOST_BH_LAT=
MAIL_PORT_BH_LAT=
MAIL_USERNAME_BH_LAT=
MAIL_PASSWORD_BH_LAT=
MAIL_ENCRYPTION_BH_LAT=tls

MAIL_FROM_ADDRESS_ALT="admin@task-manager.promolife.lat"
MAIL_FROM_NAME_ALT="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"
