@page {
    margin-left: 0cm;
    margin-right: 0cm;
    margin-top: 0cm;
    margin-bottom: 0cm;
}

@page {
    counter-increment: pages;
}

@font-face {
    font-family: 'Poppins-Light';
    font-style: normal;
    font-weight: lighter;
    src: local('Poppins-Light'), local('Poppins-Light'), url(quotesheet/bh/Poppins-Light.ttf) format('truetype');
}

@font-face {
    font-family: 'Poppins-Medium';
    font-style: normal;
    font-weight: normal;
    src: local('Poppins-Medium'), local('Poppins-Medium'), url(quotesheet/bh/Poppins-Medium.ttf) format('truetype');
}

@font-face {
    font-family: 'Poppins-Bold';
    font-style: normal;
    font-weight: bold;
    src: local('Poppins-Bold'), local('Poppins-Bold'), url(quotesheet/bh/Poppins-Bold.ttf) format('truetype');
}

body {
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 160px;
    padding-bottom: 140px;
}

p {
    margin: 0;
    padding: 0;
}

header {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 100px;
}

footer {
    position: fixed;
    background-color: black;
    color: white;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 140px;
}

.content {
    padding: 0px 15px;
}

.fondo-head {
    width: 100%;
    height: 20px;
}

.head {
    width: 100%;
    background-color: black;
    padding: 10px 15px;
    font-size: 45px;
    line-height: 40px;
    color: white;
}

.separator {
    border-left: 3px #fff solid;
    padding-left: 30px;
}

.logo {
    width: 120px;
    height: 100px;
    margin-right: 60px;
}

.company-name {
    text-align: right;
    padding: 0px 20px;
    font-size: 22px;
    font-weight: bold;
    margin: 0;
}

.cliente {
    width: 100%;
    padding: 10px 15px;
    font-size: 20px;
}

.head-products {
    margin-bottom: -65px;
    background-color: black;
    width: 100%;
    height: 45px;
}

.titulos {
    width: 100%;
    background-color: black;
    color: white;
}

.titulos th {
    border-color: #333;
}

.productos-body td,
.productos-body th {
    text-align: center;
}

.total {
    width: 100%;
    font-size: 20px;
}

.firma {
    padding: 0px 60px;
    text-align: center;
}


.condiciones {
    padding: 10px 30px;
    font-size: 11px;
}

.condiciones p {
    font-size: 14px;
    font-weight: bold;
}


.footer {
    width: 100%;
    font-size: 20px;
    padding: 20px 15px 0px 15px;
}

.pagenum::after {
    content: counter(page);
}

.pagetot::after {
    content: counter(pages);
}
